._navbar {
    
    &_wrapper {
        display: flex;
        align-items: center;
        padding-top: 4.6rem;
        padding-bottom: 4.6rem;
        justify-content: space-between;
        border-bottom: 1px solid #BAA989;
    }

    &_brand {
        a {
            display: flex;
        }
    }

    &_links {
        gap: 0.8rem;
        display: flex;

    }
    
    &_link {
        color: $green;
        padding: 1rem;
        font-size: $_link_h2;
        
        a {
            transition: all 0.3s ease-in-out;

            &:hover {
                font-weight: 700 !important;
            }
        }

    }
}