._faq-section {
    &_wrapper {
        gap: 7.3rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 19rem;

        ._product-detail {
            display: grid;
            row-gap: 2.5rem;
            column-gap: 8.6rem;
            grid-template-columns: repeat(2, 1fr);

            ._tab_desc_cat_body_title {
                color: $rosy-brown;
                
                &_wrapper {
                    align-items: flex-start;
                    svg {
                        min-width: 2.4rem;
                        path {
                            stroke: $rosy-brown;
                        }
                    }
                }
            }

            ._tab_desc_cat_body_text {
                line-height: 27px;
            }
        }
    }

    &_title {
        color: $green;
    }
}